.first-box {
    width:300px; 
    float:left; 
    background: aliceblue; 
    height: 150px;
    margin: 50px
  }
  
  .first-box p {
    color: black;
    padding-left: 80px;
    padding-top: 50px;
  }
  
  .second-box {
    width:300px; 
    height: 150px; 
    float:right; 
    background: aliceblue;
    margin: 50px
  }
  
  .second-box p {
      color:black;
      padding-left: 110px;
      padding-top: 50px;
      
  }
  .repo-arrangements {
    color:red;
    float: left;
    height: 470px;
    width: 23%;
    padding: 0 10px;

  }